site_name: My Docs
theme:
  name: material
nav:
  - 'Strona główna': 'index.md'
  - 'Matematyka': 'matematyka.md'
  - 'Teoria Grup': 'teoria_grup.md'
  - 'Rzut ukośny': 'rzut_ukosny.md'
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js